@startpage_float: center;															// Default T1 : none
@startpage_text_align: center;													// Default T1 : center
@startpage_text_color: #000;

@startpage_page_text_padding: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_xs: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_sm: 0px 2.4% 40px 2.4%;
@startpage_page_text_padding_md: 0px 25% 40px 2.4%;
@startpage_page_text_padding_lg: 25px 0px 29px 50px;

@startpage_page_text_font_weight: @body_text_font_weight;
@startpage_page_text_font_size: @body_text_font_size;
@startpage_page_text_line_height: 23px;											// Default T1 : 24px


@startpage_page_header_margin: 7px 0 23px 0;								// Default T1 : 0 0 0 0
@startpage_page_header_padding: 0 0 0 0;										// Default T1 : 0 0 0 0
@startpage_page_header_align: center;											// Default T1 : center
@startpage_page_header_border: none;											// Default T1 : none



.startpage 
{ 
	float: @startpage_float;
	
	text-align: @startpage_text_align; 
	color: @startpage_text_color;
  background-image: url('../img/valkomst.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 7px;
  @media (max-width: @screen-md) { max-height: none;}
  @media (max-width: @screen-sm) { max-height: none;}
  @media (max-width: @screen-xs) { max-height: none;}
  &.mainText {
    padding: 44px 25px 44px 50px;
    @media (min-width: @screen-lg) { padding:17px 0px 17px 0px;}
    @media (max-width: @screen-xs-max){ padding: 44px (@grid-gutter-width / 2); }
  }

	
	.page-text 
	{ 
		float: @startpage_float;

		.textpadd {
			padding: @startpage_page_text_padding;
			@media (min-width: @screen-xs) { padding: @startpage_page_text_padding_xs; }
			@media (min-width: @screen-sm) { padding: @startpage_page_text_padding_sm; }
			@media (min-width: @screen-md) { padding: @startpage_page_text_padding_md; }
			@media (min-width: @screen-lg) { padding: @startpage_page_text_padding_lg; }
		}

		
	    font-family: @font-family-std;
	    font-weight: @startpage_page_text_font_weight;
	    font-size: @startpage_page_text_font_size;

	    line-height: @startpage_page_text_line_height;
      width: 90%;
      margin-left: 50px;
      @media (max-width: @screen-lg) { width: 90%; margin-left: 50px;}
      @media (max-width: @screen-md) { width: 100%; margin-left: 0px;}
      @media (max-width: @screen-sm) { width: 100%; margin-left: 0px;}
      @media (max-width: @screen-xs) { width: 100%; margin-left: 0px;}
	}

	.page-header
	{
		margin: @startpage_page_header_margin;
		padding: @startpage_page_header_padding;
		
		text-align: @startpage_page_header_align;
		border: @startpage_page_header_border;
    @media (max-width: @screen-lg) { margin-left: 0px;}
    @media (max-width: @screen-md) { margin-left: 0px;}
    @media (max-width: @screen-sm) { margin-left: 0px; }
    @media (max-width: @screen-xs) { margin-left: 0px;}

    h1{
	  font-size: 27px;
	  font-weight: 800;
	  font-style: italic;
	  letter-spacing: 0px;
	  color: #4c4c4c;
	  float: none;
	  margin: 0 0 0 -2px;
	  padding: 0;
	  background: transparent;
	  border-bottom: none;
      @media (max-width: @screen-lg) { font-size:29px; }
      @media (max-width: @screen-md) { font-size:29px; }
      @media (max-width: @screen-sm) { font-size:30px; }
      @media (max-width: @screen-xs) { font-size:25px; }
    }
	} 
}



.startpage-news
{
	.startpage-content
	{
		margin-bottom: 35px;
	}
	
	.startpage-news
	{
		.newsitems
		{
			.spacer
			{
				border-bottom: 1px solid #c6e4dd;
				border-top: 1px solid #c6e4dd;
				padding: 2px;
				float: left;
				width: 100%;
				margin-top: 35px;
				margin-bottom: 40px;
			}
		}
	}
}


.no-padding { -webkit-perspective: 400; }
