@subpage_float: left;															// Default T1 : none
@subpage_text_align: left;														// Default T1 : left
@subpage_text_color: @body_text_colour;											// Default T1 : #333333

// This variable controls the horizontal space between the subpage content and
// preceding and following elements.
@subpage_spacing: 8px;

@subpage_page_text_font_weight: @body_text_font_weight;
@subpage_page_text_font_size: @body_text_font_size;	
@subpage_page_text_line_height: 24px;											// Default T1 : 24px

@subpage_subheader_margin: 0 0 28px 0;											// Default T1 : 0 0 28px 0
@subpage_subheader_padding: 0 0 0 (@grid-gutter-width-sub-xs / 2);
@subpage_subheader_padding_xs: @subpage_subheader_padding;						
@subpage_subheader_padding_sm: 0 (@grid-gutter-width-sm / 2) 7px (@grid-gutter-width-sm / 2) + @custom-gutter-offset;
@subpage_subheader_padding_md: 0 (@grid-gutter-width-md / 2) 7px (@grid-gutter-width-md / 2) + @custom-gutter-offset;
@subpage_subheader_padding_lg: 0 (@grid-gutter-width-lg / 2) 7px (@grid-gutter-width-lg / 2) + @custom-gutter-offset;					

@subpage_subheader_padding_bottom: 7px;											// Default T1 : 7px
@subpage_subheader_border: 1px solid @body_border_color;						// Default T1 : 1px solid @body_border_color

@subpage_page_header_margin: 20px 0 10px 0;										// Default T1 : 20px 0 10px 0
@subpage_page_header_padding: 0 0 0 0;											// Default T1 : 0 0 0 0
@subpage_page_header_align: left;												// Default T1 : left
@subpage_page_header_border: none;												// Default T1 : none


body.boka-tid {overflow-x: hidden;}
body.priser-behandlingar {overflow-x: hidden;}


.subpage 
{ 
	margin-top: @subpage_spacing;
	margin-bottom: @subpage_spacing;
	
	text-align: @subpage_text_align; 
	color: @subpage_text_color;

  .cateringHeader {
		padding-top: 10px;
		padding-bottom: 3px;
		h4 {
		  background: @accent_colour;
		  color: #fff;
		  text-indent: 10px;
		  padding: 4px 0 5px;
		}
  }

  .wpcf7{
  	.LeadMargin{
  		padding: 0;
  		input{ margin-top: 0;}
  	}
  	.LeadText{ padding-left: 0;}
  }

  .bd-button {
    background-image: url(../img/bd-all.png) !important;
  }



  .cateringItem {

	padding-bottom:10px;
	.menurowpadd {
	  padding: 0 10px;
	}

	//padding-bottom: 2px;
	@media(max-width:@grid-float-breakpoint){ padding-bottom:20px; }
	&:last-of-type {
	  padding-bottom:10px;
	  @media(max-width:@grid-float-breakpoint){ padding-bottom:30px; }
	}

	.cateringTitle { font-weight:600; }

	.cateringPrice {
	  font-weight: 600;
	  text-align: right;
	  @media(max-width:@grid-float-breakpoint){ text-align: left; }
	}

	.cateringDescription {
	  font-style: italic;
	  //padding-bottom: 5px;
	}
  }





	.page-text 
	{ 
		float: @subpage_float;
		
	    font-family: @font-family-special;
	    font-weight: @subpage_page_text_font_weight;
	    font-size: @subpage_page_text_font_size;
	    
	    line-height: @subpage_page_text_line_height;
	}
	
	.subHeader
	{
		padding: @subpage_subheader_padding;
		@media(min-width: @screen-xs) { padding: @subpage_subheader_padding_xs; }
		@media(min-width: @screen-sm) { padding: @subpage_subheader_padding_sm; }
		@media(min-width: @screen-md) { padding: @subpage_subheader_padding_md; }
		@media(min-width: @screen-lg) { padding: @subpage_subheader_padding_lg; }
		
		margin: @subpage_subheader_margin;
		border-bottom: @subpage_subheader_border;	
		
		.page-header
		{
			margin: @subpage_page_header_margin;
			padding: @subpage_page_header_padding;
			
			text-align: @subpage_page_header_align;
			border-bottom: @subpage_page_header_border;
		} 
	}
}


.subpage-news
{
	.subpage-content
	{
		margin-bottom: 35px;
	}
	
	.subpage-news
	{
		.newsitems
		{
			.spacer
			{
				border-bottom: 1px solid #c6e4dd;
				border-top: 1px solid #c6e4dd;
				padding: 2px;
				float: left;
				width: 100%;
				margin-top: 35px;
				margin-bottom: 40px;
			}
		}
	}
}
