<div class="timelab-cms">
  {% block head %}
  <div class="container-fluid {{layout_slug}}">
      <h1>{{layout_title}}</h1>
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
      <div class='clear'></div>
  </div>
  {% endblock %}
</div>