{% extends 'Layout.twig' %}

{% block content %}
    <h2>Moduler</h2>
    <ul>
    {% for module in modules %}
        {% if module.api_methods %}
            {% include 'ApiDocs/DocumentationModuleItem.twig' with module %}
        {% endif %}
    {% endfor %}
    </ul>

    <hr />
    <h2>Objekt</h2>
    <ul>
    {% for object in objects %}
        {% if object.api_methods %}
            {% include 'ApiDocs/DocumentationModuleItem.twig' with object %}
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}