body.landingpage{
  background: none;
  color: #484848;
  font-weight: 400;

  img{ 
    max-width: 100%;
    height: auto;
  }

  .container{
    box-shadow: none;
    background-color: transparent;

    @media(min-width: @screen-md){ max-width: 800px; }

    p{
      margin-bottom: 28px;
    }
  }

  header{
    padding: 30px 0;
    text-align: center;

    .header-logo{ 
      width: 530px;
      max-width: 88%;
    }
  }

  .image-devider{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media(max-width: @screen-xs-max){ height: 200px; }
  }

  .main-content{
    .page-header{
      text-align: center;
      border-bottom: none;
      margin: 53px 0 6px;

      @media(max-width: @screen-xs-max){ margin: 25px 0 6px; }

      h1{
        font-size: 36px;
        font-weight: normal;
        color: #484848;

        @media(max-width: @screen-xs-max){ font-size: 26px; }
      }
    }

    hr{
      margin-top: 48px;
      margin-bottom: 53px;

      @media(max-width: @screen-xs-max){
        margin-top: 39px;
        margin-bottom: 39px;
      }
    }

    h3{
      font-style: italic;
      font-size: 28px;
      font-weight: normal;
      line-height: 38px;
      color: #484848;

      @media(max-width: @screen-xs-max){
        font-size: 20px;
        line-height: 29px;
        text-align: center;
      }
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 49.25%;
      padding-top: 25px;
      margin-bottom: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .wpcf7{
      position: relative;
      margin-bottom: 0;

      .cf-success-msg,
      .tempalte-cf-message{
        display: none;
        position: absolute;
        background: #f3f3f3;
        z-index: 999;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #5d5d5d;

        h2{
          font-size: 30px;
          font-style: italic;
          color: #4a4a4a;
          margin-top: 63px;
          margin-bottom: 7px;
        }

        img{
          width: 90px;
          margin-top: 32px;
        }
      }

      .wpcf7-form{
        color: #000;
        font-size: 16px;
        font-weight: 300;

        div[class^="col-"]{
          position: static;
        }


        .wpcf7-not-valid{ border-color: red; }

        .wpcf7-not-valid-tip{
          display: none;
        }
           
        br { display: none; }

        input, textarea{
          &:not([type="submit"]){
            background: #f8f8f8;
            border: 1px solid #e8e8e8;
            color: #666666;
            width: 100%;
            text-indent: 5px;

            font-size: 12px;

            @media(max-width:@screen-sm){ text-indent: 0; }
          }
        }

        textarea{ 
          height: 220px;
          max-width: 100%;
        }

        input{
          &:not([type="submit"]){
            height: 40px;
          }
        }

        input[type="submit"]{
          outline: none;
          width: 100%;
        }

        .submit-container{
          margin-bottom: 0;
        }

        .ajax-loader{
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background-color: rgba(255,255,255,0.7);
          background-repeat: no-repeat;
          background-position: center center;
          margin: 0;
          background-image: url('../img/landingpage/ajax-loader.gif');
        }

        .required-indicator{
          color: #e81b1b;
        }

        .wpcf7-mail-sent-ok{ display: none !important; }
      }
    }
    
    .home-button{
      text-align: center;
      margin-bottom: 62px;

      @media(max-width: @screen-xs-max){ margin-bottom: 39px; }
    }

    .landing-button{
      color: #fff;
      font-weight: 600;
      font-style: italic;
      font-size: 16px;
      padding: 9px 32px;
      border: none;
      border-bottom: 4px solid #e8e8e8;
      height: auto;
      display: inline-block;
    }
  }


  footer{
    padding: 48px 0;
    text-align: center;

    h1{ 
      color: #fff;
      font-size: 28px;
      margin-bottom: 33px;

      @media(max-width: @screen-xs-max){ display: none; }
    }

    .contact{
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;

      @media(max-width: @screen-xs-max){ margin-top: 25px; }

      a{
        color: #fff;
        display: inline-block;
      }

      b, strong{ 
        font-style: italic;
        font-weight: 600;
      }
    }

    .footer-logo{
      width: 140px;
      max-width: 100%;
    }
  }
}