@contact_column_gutter: -(@grid-gutter-width-sub-xs / 2);
@contact_column_gutter_xs: -(@grid-gutter-width-xs / 2);
@contact_column_gutter_sm: -(@grid-gutter-width-sm / 2);
@contact_column_gutter_md: -(@grid-gutter-width-md / 2);
@contact_column_gutter_lg: -(@grid-gutter-width-lg / 2);



.contact-column
{
	margin-left: @contact_column_gutter;
	margin-right: @contact_column_gutter;
	@media (min-width: @screen-xs) 
	{ 
		margin-left: @contact_column_gutter_xs;
		margin-right: @contact_column_gutter_xs;
	}
	@media (min-width: @screen-sm) 
	{ 
		margin-left: @contact_column_gutter_sm;
		margin-right: @contact_column_gutter_sm;
	}
	@media (min-width: @screen-md) 
	{ 
		margin-left: @contact_column_gutter_md;
		margin-right: @contact_column_gutter_md;
	}
	@media (min-width: @screen-lg) 
	{ 
		margin-left: @contact_column_gutter_lg;
		margin-right: @contact_column_gutter_lg;
	}
	
	&>div
	{
		padding-left: abs(@contact_column_gutter);
		padding-right: abs(@contact_column_gutter);
		@media (min-width: @screen-xs) 
		{ 
			padding-left: abs(@contact_column_gutter_xs);
			padding-right: abs(@contact_column_gutter_xs);
		}
		@media (min-width: @screen-sm) 
		{ 
			padding-left: abs(@contact_column_gutter_sm);
			padding-right: abs(@contact_column_gutter_sm);
		}
		@media (min-width: @screen-md) 
		{ 
			padding-left: abs(@contact_column_gutter_md);
			padding-right: abs(@contact_column_gutter_md);
		}
		@media (min-width: @screen-lg) 
		{ 
			padding-left: abs(@contact_column_gutter_lg);
			padding-right: abs(@contact_column_gutter_lg);
		}
	}


	div.wpcf7 .LeadMargin img.ajax-loader {
	  border: none;
	  vertical-align: middle;
	  margin-left: 4px;
	  margin-top: 9px;
	}

  	.LeadText input.wpcf7-text:focus, .LeadText textarea { outline-color: @accent_colour; }

  	.LeadMargin input[type="submit"] {
	  &:focus { outline-color: @accent_colour; }
	}

}

.hidden-noimp{
  display: none;
}

.wpcf7-radio .wpcf7-list-item span{
	display: none;

}

.wpcf7{
	textarea{
		width: 100%;
	}
	.input-group{
		display: block;

		.text-checkbox{
			cursor: pointer;
		}
	}
	.wpcf7-checkbox{
		.wpcf7-list-item{
			display: inline-block;
		}
	}

	.LeadText{
		@media(min-width: @screen-sm){
			&.col-sm-6{
				padding-left: 12.5px;
				&.right-pad{ 
					padding-right: 12.5px;
					padding-left: 25px;
				}
			}
		}
		
		.lead-title{
			display: block;
			margin-bottom: 5px;
			.help-box{
				margin-left: 3px;
				img{
					height: 15px;
				}
			}
		}

		input{
			&[type="checkbox"], &[type="radio"]{
				width: initial;
				height: initial;
			}
		}
	}
}