@showcase_img_use_width: false;													// Default T1 : false
@showcase_container_bg_use_image: false;										// Default T1 : false
@showcase_bg_use_gradient: false;												// Default T1 : false
@showcase_use_custom_gutter: true;												// Default T1 : false
@showcase_use_borders: true;													// Default T1 : true
@showcase_use_grayscale_transition: false;

@showcase_custom_gutter: 10px;													// Default T1 : N/A

// Toggles the use of gradient background in the individual showcases and sets 
// the direction of the gradient
@showcase_bg_colour: transparent;
@showcase_bg_colour_gradient_direction: 'radial';
@showcase_bg_colour_gradient_start: #EEEEEE;
@showcase_bg_colour_gradient_stop: #DBDBDB;

@showcase_title_colour: #484848;
@showcase_title_colour_hover: #785698;
@showcase_title_font_family: @font-family-std;								// Default T1 : @font-family-headline
@showcase_title_font_size: 18px;												// Default T1 : 18px
@showcase_title_font_weight: 600;												// Default T1 : 700
@showcase_title_text_transform: none;	 										// Default T1 : none
@showcase_img_width: 100%;

@showcase_container_bg_color: transparent;										// Default T1 : transparent
@showcase_container_bg_image: "../img/body_bg.jpg";

@showcase_hr_margin: 0 0 10px 0;

// These variables are used to set the offset for the hover effect.
@showcase_height: 45px;                                                        	// Default T1 : 78px
@showcase_height_xs: 45px;														// Default T1 : 139px
@showcase_height_sm: 79px;													// Default T1 : 139px
@showcase_height_md: 79px;													// Default T1 : 139px
@showcase_height_lg: 79px;														// Default T1 : 136px

@showcase_title_margin: 10px 0 10px 0;												// Default T1 : 0 0 10px 0
@showcase_title_margin_xs: 10px 0 4px 0;											// Default T1 : 0 0 10px 0
@showcase_title_margin_sm: 26px 0 4px 0;										// Default T1 : 10px 0 10px 0
@showcase_title_margin_md: 26px 0 4px 0;										// Default T1 : 10px 0 10px 0
@showcase_title_margin_lg: 26px 0 4px 0;										// Default T1 : 10px 0 10px 0

// Brand settings
// -----------------------------------------------------------------------------
@showcase_brand_container_box_shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
@showcase_brand_container_border_top: 1px solid #EFEFEF;

@showcase_brand_use_grayscale_transition: false;
@showcase_brand_img_full_width: true;

@showcase_brand_border_left: 1px solid #ffffff;
@showcase_brand_border_right: 1px solid #efefef;


// The below controls dictate the height and margins of the brand showcases and
// must be set manually. The top and bottom margins are calculated as follows.
//
// margin = @showcase_brand_container_height - @showcase_brand_height - (@showcase_brand_container_padding_vertical_sub_xs * 2)
//
// With this in mind, make sure that @showcase_brand_container_height is at least the sum of
// @showcase_brand_height and @showcase_brand_container_padding_vertical_sub_xs
//
@showcase_brand_container_height: 98px;
@showcase_brand_container_height_xs: 98px;
@showcase_brand_container_height_sm: 98px;
@showcase_brand_container_height_md: 98px;
@showcase_brand_container_height_lg: 98px;

@showcase_brand_container_padding_horizontal_sub_xs: 15px;
@showcase_brand_container_padding_horizontal_xs: 85px;
@showcase_brand_container_padding_horizontal_sm: 0px;
@showcase_brand_container_padding_horizontal_md: 0px;
@showcase_brand_container_padding_horizontal_lg: 0px;

@showcase_brand_container_padding_vertical_sub_xs: 0px;
@showcase_brand_container_padding_vertical_xs: 30px;
@showcase_brand_container_padding_vertical_sm: 10px;
@showcase_brand_container_padding_vertical_md: 10px;
@showcase_brand_container_padding_vertical_lg: 10px;

@showcase_brand_height: 35px;
@showcase_brand_height_xs: 35px;
@showcase_brand_height_sm: 35px;
@showcase_brand_height_md: 35px;
@showcase_brand_height_lg: 35px;
// -----------------------------------------------------------------------------



.container
{
	&.showcases, .showcases
	{
		.showcase-row
		{
			& when (@showcase_use_custom_gutter = true)
			{
				margin-left: -(@showcase_custom_gutter / 2);
				margin-right: -(@showcase_custom_gutter / 2);
                margin-top: 0px;
			}
		}
		
		.showcase
		{
			margin-bottom: 0px;

			padding-top: 12px;
            @media (max-width: @screen-xs) { padding-top: 12px; }
            @media (max-width: @screen-sm) { padding-top: 12px; }
            @media (max-width: @screen-md) { padding-top: 3px; }
            @media (max-width: @screen-lg) { padding-top: 3px; }

			// Custom gutter width rules.
			// -----------------------------------------------------------------
			& when (@showcase_use_custom_gutter = true)
			{
				@custom_gutter: @showcase_custom_gutter / 2;
				
				padding-left: @custom_gutter;
				padding-right: @custom_gutter;
				
				&.pos1 
				{
					@media (max-width: @screen-xs) { margin-bottom: 0; padding-top: 21px;}
					@media (min-width: @screen-xs) { margin-bottom: 0; padding-top: 21px;}
					@media (min-width: @screen-md) { margin-bottom: 0px; }
				}
				&.pos2
				{
					@media (max-width: @screen-xs) { margin-bottom: 0; padding-top: 21px;}
					@media (min-width: @screen-xs) { margin-bottom: 0; padding-top: 21px;}
					@media (min-width: @screen-md) { margin-bottom: 0px; }
				}
				&.pos3
				{
					@media (max-width: @screen-xs) { padding-top: 21px; }
					@media (min-width: @screen-xs) { padding-top: 21px; }
					@media (min-width: @screen-md) { margin-top: 0px; }
				}
				&.pos4
				{
					@media (max-width: @screen-xs) { padding-top: 21px; }
					@media (min-width: @screen-xs) { padding-top: 21px; }
					@media (min-width: @screen-md) { margin-top: 0px; }
				}
				&.showcase-vertical 
				{ 
					&.pos1
					{
						@media (min-width: @screen-md) { margin-bottom: @custom_gutter; }
					}
					&.pos2, &.pos3 
					{
						@media (min-width: @screen-md) 
						{ 
							margin-top: @custom_gutter;
							margin-bottom: @custom_gutter;
						}
					}
					&.pos4
					{
						@media (min-width: @screen-md) { margin-top: @custom_gutter; margin-bottom: 13px;}

					}
				}
			}
			// -----------------------------------------------------------------
			
			// The border rules.
			// -----------------------------------------------------------------
			& when (@showcase_use_borders = true)
			{
				border-color: @body_border_color;
				border-style: solid;
				border-width: 0px 0px 0px 0px;
				&.pos1 
				{
					@media (max-width: @screen-xs) { border-width: 0px 0px 0px 0px; }
					@media (min-width: @screen-xs) { border-width: 0px 1px 0px 0px; }
					@media (min-width: @screen-md) { border-width: 0px 1px 0px 0px; }
				}
				&.pos2
				{
					@media (max-width: @screen-xs) { border-width: 0px 0px 0px 0px; }
					@media (min-width: @screen-xs) { border-width: 0px 1px 0px 0px; }
					@media (min-width: @screen-md) { border-width: 0px 1px 0px 0px; }
				}
				&.pos3
				{
					@media (min-width: @screen-xs) { border-width: 0px 0px 0px 0px; }
				}
				&.pos4
				{
					@media (min-width: 0) { border-width: 0px 0px 0px 0px; }
				}
				&.showcase-vertical 
				{ 
					&.pos1, &.pos2, &.pos3 
					{
						@media (min-width: @screen-md) { border-width: 0px 0px 1px 0px; }
					}
					&.pos4
					{
						@media (min-width: @screen-md) { border-width: 0px 0px 0px 0px; }
					}
				}
			}
			& when (@showcase_use_borders = false)
			{
				border: none;
			}
			// -----------------------------------------------------------------
			
			.showcase-bg 
			{
				display: block;
				height: 100%;
				background: @showcase_bg_colour;
				& when (@showcase_bg_use_gradient = true)
				{
					.gradient(@showcase_bg_colour_gradient_start, @showcase_bg_colour_gradient_stop, @showcase_bg_colour_gradient_direction)
				}
				
				img
				{
					display: block;
					margin: 0 auto;
					position: relative;
					
					& when (@showcase_use_grayscale_transition = true)
					{
						filter: gray;
						-webkit-filter: grayscale(100%);
						-moz-transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
						
						&:hover
						{
							filter: none;
							-webkit-filter: grayscale(0%);
						}
					}
					& when (@showcase_img_use_width = true)
					{
						max-width: @showcase_img_width;
					}
					
					height: @showcase_height;
					@media (min-width: @screen-xs) { height: @showcase_height_xs; }
					@media (min-width: @screen-sm) { height: @showcase_height_sm; }
					@media (min-width: @screen-md) { height: @showcase_height_md; }
					@media (min-width: @screen-lg) { height: @showcase_height_lg; }
					
					&.hover
					{
						margin-top: -@showcase_height;
						@media (min-width: @screen-xs) { margin-top: -@showcase_height_xs; }
						@media (min-width: @screen-sm) { margin-top: -@showcase_height_sm; }
						@media (min-width: @screen-md) { margin-top: -@showcase_height_md; }
						@media (min-width: @screen-lg) { margin-top: -@showcase_height_lg; }
						
						opacity: 0;	
						transition: all 400ms;
						-moz-transition: all 400ms;
						-webkit-transition: all 400ms;
						-o-transition: all 400ms;
					}
				}
				
				.showcase-title 
				{
					display: block;
					position: relative;
					margin: @showcase_title_margin;

					@media (min-width: @screen-xs) { margin: @showcase_title_margin_xs; font-size: 15px;}
					@media (min-width: @screen-sm) { margin: @showcase_title_margin_sm; font-size: 15px;}
					@media (min-width: @screen-md) { margin: @showcase_title_margin_md; font-size: 18px;}
					@media (min-width: @screen-lg) { margin: @showcase_title_margin_lg; font-size: 18px;}
					width: 100%;

					font-size: @showcase_title_font_size;
					font-family: @showcase_title_font_family;
					font-weight: @showcase_title_font_weight;
					text-align: center;
					text-transform: @showcase_title_text_transform;
					color: @showcase_title_colour;
				  font-style: italic;
				}

				.showcase-text
				{
					display: block;
					width: 100%;
					padding: 2% 8% 4% 8%;
					
					font-family: @font-family-std;
					font-size: 14px;
					text-align: center;
				  font-weight: 300;
					color: #333333;
				}
				
				.showcase-file
				{
					font-family: @font-family-special;
					font-size: 13px;
					text-align: center;
					color: #FFFFFF;
				}
				
				.container
				{
					background: @showcase_container_bg_color;
					& when (@showcase_container_bg_use_image = true)
					{
						background-image: url(@showcase_container_bg_image);
					}
					
					hr
					{
						margin: @showcase_hr_margin;
						border-top: 1px solid @body_border_color;
						border-bottom: 1px solid @body_border_color;
					}
					
					padding-top: 0px;
					padding-bottom: 15px;
				}
			}
			
			// Hover effect rule.
			&:hover
			{
				.showcase-bg
				{
					img.hover 
					{ 
						opacity: 1;
					}
					
					.showcase-title 
					{
						color: @showcase_title_colour_hover;
					}
				}
			} 
			
			a { text-decoration: none; }
		}
		
		&.PodsPuffar { margin-bottom: 7px; }
		
		&.brands

		{
			min-height: @showcase_brand_container_height;
			padding: @showcase_brand_container_padding_vertical_sub_xs @showcase_brand_container_padding_horizontal_sub_xs;
			@media (min-width: @screen-xs) 
			{
				min-height: @showcase_brand_container_height_xs;
				padding: @showcase_brand_container_padding_vertical_xs @showcase_brand_container_padding_horizontal_xs;
			}
			@media (min-width: @screen-sm) 
			{
				min-height: @showcase_brand_container_height_sm;
				padding: @showcase_brand_container_padding_vertical_sm @showcase_brand_container_padding_horizontal_sm;
			}
			@media (min-width: @screen-md) 
			{
				min-height: @showcase_brand_container_height_md;
				padding: @showcase_brand_container_padding_vertical_md @showcase_brand_container_padding_horizontal_md;
			}
			@media (min-width: @screen-lg) 
			{
				min-height: @showcase_brand_container_height_lg;
				padding: @showcase_brand_container_padding_vertical_lg @showcase_brand_container_padding_horizontal_lg;
			}
			
			
			box-shadow: @showcase_brand_container_box_shadow;
			webkit-box-shadow: @showcase_brand_container_box_shadow;
			border-top: @showcase_brand_container_border_top;
          background-color: #f9f9f9;
          margin-bottom: 0px;
			
			&>.row 
			{ 
				margin-left: 5px; margin-right: 5px;
				@media (min-width: @screen-xs) { margin-left: 5px; margin-right: 5px; }
				@media (min-width: @screen-sm) { margin-left: 5px; margin-right: 5px; }
				@media (min-width: @screen-md) { margin-left: 0px; margin-right: 0px; }
				@media (min-width: @screen-lg) { margin-left: 0px; margin-right: 0px; }
			}
			
			a
			{
				// Vertical separator rules, this is not entirely intuitive.
				// ----------------------------------------------
				@media (min-width: @screen-sm)
				{
					&>.brand 
					{
						border-left: @showcase_brand_border_left;
				    	border-right: @showcase_brand_border_right;
					}
					&:first-child>.brand { border-left: none; }
					&:last-child>.brand { border-right: none; }
				}
				// ----------------------------------------------
			}
			
			.brand 
			{
				.brand-bg {}
			  padding-left:10px;
			  padding-right:10px;
				img 
				{ 
					display: block;
					& when (@showcase_brand_img_full_width = true) { max-width: 100%; }
					
					// Calculate the margins based on the height of the container, image and the padding.
					// -------------------------------------------------------------------------------------
					@calc: (@showcase_brand_container_height - @showcase_brand_height - (@showcase_brand_container_padding_vertical_sub_xs * 2)) / 2;
					margin: @calc auto;
					@media (min-width: @screen-xs) 
					{
						@calc: (@showcase_brand_container_height_xs - @showcase_brand_height_xs - (@showcase_brand_container_padding_vertical_xs * 2)) / 2;
						margin: @calc auto;
					}
					@media (min-width: @screen-sm) 
					{ 
						@calc: (@showcase_brand_container_height_sm - @showcase_brand_height_sm - (@showcase_brand_container_padding_vertical_sm * 2)) / 2;
						margin: @calc auto;
					}
					@media (min-width: @screen-md) 
					{ 
						@calc: (@showcase_brand_container_height_md - @showcase_brand_height_md - (@showcase_brand_container_padding_vertical_md * 2)) / 2;
						margin: @calc auto;
					}
					@media (min-width: @screen-lg) 
					{ 
						@calc: (@showcase_brand_container_height_lg - @showcase_brand_height_lg - (@showcase_brand_container_padding_vertical_lg * 2)) / 2;
						margin: @calc auto;
					}
					// -------------------------------------------------------------------------------------
					
					& when (@showcase_brand_use_grayscale_transition = true)
					{
						filter: gray;
						-webkit-filter: grayscale(100%);
						-moz-transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
						
						&:hover
						{
							filter: none;
							-webkit-filter: grayscale(0%);
						}
					}	
				}
			}
		}
	}
	
	
	&.showcases-vertical, .showcases-vertical
	{
		// Custom gutter width, only triggers when the showcases are collapsed.
		& when (@showcase_use_custom_gutter = true)
		{
			@calculated: -(@showcase_custom_gutter / 2);
			margin-left: @calculated;
			margin-right: @calculated;
			@media (min-width: @screen-xs) {}
			@media (min-width: @screen-sm) 
			{ 
				@calculated: -((@grid-gutter-width-sm / 2) - (@showcase_custom_gutter / 2));	
				margin-left: @calculated;
				margin-right: @calculated;
			}
			@media (min-width: @screen-md) 
			{ 
				@calculated: 0;	
				margin-left: @calculated;
				margin-right: @calculated;
			}
		}
		
		.showcase
		{
			@custom_gutter: @showcase_custom_gutter / 2;
			
			padding-left: @custom_gutter; padding-right: @custom_gutter;
			@media (min-width: @screen-xs) { padding-left: @custom_gutter; padding-right: @custom_gutter; }
			@media (min-width: @screen-sm) {}
			@media (min-width: @screen-md) { padding-left: 0px; padding-right: 0px; }
			@media (min-width: @screen-lg) {}
			
			.showcase-href
			{
				float: left;
				width: 100%;
			}
		}
	}
	
	&.showcases
	{
	    background-color: @background-color;
	    margin-bottom: @bottom-margin-std;
	    padding: 10px 10px;
	    
	    @media(max-width:@screen-sm) { margin-bottom: 0; }
	    
	    .showcase
	    {
	    	@media (max-width: @screen-md) 
		    { 
		        &:nth-child(1n+3) { margin-bottom: 0; }
		    }
	    }
	}
}