@social_header_logo_padding: 0 0 0 (@grid-gutter-width-sub-xs / 2);
@social_header_logo_padding_xs: 0 0 0 (@grid-gutter-width-xs / 2);
@social_header_logo_padding_sm: 43px 0 0 (@grid-gutter-width-sm / 2);
@social_header_logo_padding_md: 43px 0 0 (@grid-gutter-width-md / 2);
@social_header_logo_padding_lg: 43px 0 0 (@grid-gutter-width-lg / 2);

// The fixed sizes of the social icons.
@social_icon_type1_size: 32px;
@social_icon_type2_size: 67px;
@social_icon_type3_size: 44px;
@social_top_icons: 47px;

.socialPanel 
{
    position: absolute;
    top: 10px;
    left: 5%;
    z-index: 200;
    width: 90%;
    padding: 100px 0;
    text-align: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    opacity: 1;
    -webkit-transform: rotateX(0deg) translate3d(0,0px,0px);
    -webkit-box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 11px 2px rgba(0,0,0,0.5);
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    transform-style: preserve-3d;
    
    &.hideMe
    {
    	top: 0;
	    opacity: 0;
	    -webkit-transform: rotateX(-105deg) translate3d(0,150px,-123px);
	    -webkit-box-shadow: none;
	    box-shadow: none
    }
}

.social 
{	
  position: absolute;
  top: 5px;
  right: 33px;

  @media(max-width: @screen-xs-max){
    display: none;
  }

	padding: @social_header_logo_padding;
	@media (min-width: @screen-xs) { padding: @social_header_logo_padding_xs; }
	@media (min-width: @screen-sm) { padding: @social_header_logo_padding_sm; }
	@media (min-width: @screen-md) { padding: @social_header_logo_padding_md; }
	@media (min-width: @screen-lg) { padding: @social_header_logo_padding_lg; }
	
	.top-icon{
    margin-right: 4px;
    img{
      width: @social_top_icons;
    }
  }
	
	a
	{
		display: block;
    float: right;
		
		&.type_1
		{
			.social-icon-responsiveness(@social_icon_type1_size);
			img { width: @social_icon_type1_size; }
		}
		&.type_2
		{
			.social-icon-responsiveness(@social_icon_type2_size);
			img { width: @social_icon_type2_size; }
		}
		&.type_3
		{
			.social-icon-responsiveness(@social_icon_type3_size);
			img { width: @social_icon_type3_size; }
		}
	}
}


.social-icon-responsiveness(@icon_size)
{
	margin-top: (@header_height - @icon_size) / 2;
	margin-bottom: (@header_height - @icon_size) / 2;

	@media (min-width: @screen-xs) 
	{
		margin-top: (@header_height_xs - @icon_size) / 2;
	    margin-bottom: (@header_height_xs - @icon_size) / 2;
	}
	@media (min-width: @screen-sm) 
	{
		margin-top: (@header_height_sm - @icon_size) / 2;
	    margin-bottom: (@header_height_sm - @icon_size) / 2;
	}
	@media (min-width: @screen-md) 
	{	
		margin-top: (@header_height_md - @icon_size) / 2;
	    margin-bottom: (@header_height_md - @icon_size) / 2;
	}
	@media (min-width: @screen-lg) 
	{	
		margin-top: (@header_height_lg - @icon_size) / 2;
	    margin-bottom: (@header_height_lg - @icon_size) / 2;
	}
}

.facebookicon
{
  width:47px;
  margin-right: 2px;
}

.instagramicon
{
  width:50px;
  margin-right: 6px;
}