{% extends 'Layout.twig' %}

{% block content %}

    {% include 'Slider/ModalNewSlider.twig' %}

    {% for slider in sliders %}
        {% include 'Slider/SliderListItem.twig' with slider %}
    {% endfor %}

    {% if is_admin %}
        <a class="btn btn-success btn-block btn-lg" href="#" data-toggle="modal" data-target="#new-slider-modal">
            <i class="glyphicon glyphicon-plus"></i> Lägg till nytt Bildspel
        </a>
    {% endif %}

{% endblock %}