// Göm admin bar
#wpadminbar {
  display :none
}

#wp-admin-bar-menu-toggle {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url('../img/icon-menu-white.png');
  padding: 5px;
  box-shadow: 1px 1px #000;
  background-color: #222;
  border: 5px #222;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

html.wp-toolbar {
  padding-top: 39px !important;
}

.user-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  color: #fff;

  a {
    color: #3d98ff;
  }

  z-index: 1000;

  background-color: #222;
  padding: 10px 5px 5px 5px;

  .user-box-info {
    float: left;

    .username {
      font-weight: bold;
      text-decoration: none;
    }

    .role {
      color: @brand-color;
    }

  }

  .user-box-menu {
    padding: 0;
    margin: 0;
    float: right;

    li {
      padding-right: 10px;
      float: left;
      a {
        text-decoration: none;
      }
    }
  }
}