{% extends 'Layout.twig' %}

{% block content %}

    <form action="{{ save_url }}" method="post">
        <div class="col-sm-9">
            {% if is_admin %}
                <input type="text" name="title" class="form-control input-lg" value="{{ facility.title }}" />
            {% else %}
                <h2>{{ facility.title }}</h2>
            {% endif %}

            <hr />

            {% if description_enabled %}
                {% include 'Contact/DescriptionEditor.twig' %}
            {% endif %}

            {% if addresses_enabled %}
                {% include 'Contact/AddressEditor.twig' with facility.address %}
            {% endif %}

            {% if contact_info_enabled %}
                {% include 'Contact/ContactInfoEditor.twig' %}
            {% endif %}

            {% if social_info_enabled %}
                {% include 'Contact/SocialInfoEditor.twig' %}
            {% endif %}

            {% if opening_hours_enabled %}
                {% include 'Contact/OpeningHoursEditor.twig' %}
            {% endif %}

            {% if personnel_enabled %}
                {% include 'Contact/PersonnelEditor.twig' %}
            {% endif %}
        </div>

        <div class="col-sm-3 sidemenu">
            <button class="btn-block btn btn-lg btn-success" target="submit"><span class="glyphicon glyphicon-check"></span> Spara Ändringar
                <input type="submit" class="hidden">
            </button>

            {% if languages %}
                <hr />
                    <ul>
                        {% for language in languages %}
                            <li>
                                {% if language.post_id %}
                                    {% set href = edit_url ~ '&id=' ~ language.post_id%}
                                {% else %}
                                    {% set href = translate_url ~ '&lang_code=' ~ language.language_code %}
                                {% endif %}

                                <a href="{{ href }}" class="btn btn-block {{ language.default_locale == facility_language.locale ? 'btn-primary' : 'btn-default' }} btn-lg btn-block">
                                    <img src="{{ language.country_flag_url }}" />
                                    {{ language.translated_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                <hr />
            {% endif %}

            {% if is_admin %}
                <a href="{{ delete_url }}"
                   class="btn btn-block btn-lg btn-danger" data-confirm="true" data-confirm-title="Ta bort anläggning"
                   data-confirm-text="Är du säker på att du vill ta bort anläggning samt all information?">
                    <span class="glyphicon glyphicon-trash"></span> Ta bort anläggning
                </a>
            {% endif %}
        </div>
    </form>
{% endblock %}