<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#description">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-pencil"></span> Beskrivning
        </h2>
    </a>
    <div id="description" class="panel-collapse in">
        <div class="container">
            {{ description_editor|raw }}
        </div>
    </div>
</div>
