<li>
    <div class="person {{ (placeholder) ? 'placeholder' : '' }}">
        <input type="hidden" name="person_id[]" value="{{ id }}">
        <input type="hidden" name="person_order[]" value="{{ order }}" data-list-key="personnel">
        <input type="hidden" name="person_remove[]">

        <input type="hidden" name="person_image_id[]" value="{{ image.id }}">
        <input type="hidden" name="person_image_mediaId[]" value="{{ image.media_id }}">

        <div class="row">
            <div class="col-sm-2">
                <img class="img-responsive person_image" src="{{ image.src }}" alt="{{ image.alt }}" title="Ladda upp ny bild">
                <a href="#" class="btn btn-sm btn-primary btn-block person-image-upload">Ladda upp bild</a>
                <a href="#" class="btn btn-sm btn-danger btn-block person-remove-button">Ta bort</a>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="personnel_name[]">Namn</label>
                        <input type="text" class="form-control" name="person_name[]" value="{{ name }}">
                    </div>
                    <div class="col-sm-4">
                        <label for="personnel_role[]">Roll</label>
                        <input type="text" class="form-control" name="person_role[]" value="{{ role }}">
                    </div>
                    <div class="col-sm-4">
                        <label for="personnel_department[]">Avdelning</label>
                        <input type="text" class="form-control" name="person_department[]" value="{{ department }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="personnel_description[]">Beskrivning</label>
                        <textarea class="form-control" name="person_description[]">{{ description }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Kontaktdetaljer</label>
                        <ol class="sortable-list contact-details ui-sortable">
                            {% for i in 0..2 %}
                                {% if contact_details[i] is not empty %}
                                    {% include 'Contact/ContactInfoField.twig' with contact_details[i]|merge({object_type: 'personnel'}) %}
                                {% else %}
                                    {% include 'Contact/ContactInfoField.twig' with { id: '', object_type: 'personnel' } %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</li>